.courseWraps{
    background-color:#dee2e6 ;
}
.course-title{
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px solid #dee2e6;
}
.cart-info{
    color: white;
    background-color: goldenrod;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
}
.cartWrap{
    width: 172px;
    color: orangered;
    background-color: #adb5bd;
}